build-stamp
build/
config.status
debian/.debhelper/
debian/files
debian/gpib-modules-source.debhelper.log
debian/gpib-modules-source.substvars
debian/gpib-modules-source/
debian/libgpib-bin.debhelper.log
debian/libgpib-bin.substvars
debian/libgpib-bin/
debian/libgpib-dev.debhelper.log
debian/libgpib-dev.substvars
debian/libgpib-dev/
debian/libgpib-doc.debhelper.log
debian/libgpib-doc.substvars
debian/libgpib-doc/
debian/libgpib-perl.debhelper.log
debian/libgpib-perl.substvars
debian/libgpib-perl/
debian/libgpib0.debhelper.log
debian/libgpib0.substvars
debian/libgpib0/
debian/libtcl8.6-gpib.debhelper.log
debian/libtcl8.6-gpib.substvars
debian/libtcl8.6-gpib/
debian/python3-gpib.debhelper.log
debian/python3-gpib.postinst.debhelper
debian/python3-gpib.prerm.debhelper
debian/python3-gpib.substvars
debian/python3-gpib/
debian/tmp/
kernel/
